<div class="side-nav-content">
    <ul class="nav-list list-unstyled"
        [ngClass]="{'nav-list-open': sideNavStatus}">
        <div type="button"
             [routerLink]="['../test1']">
            <li class="nav-list-item">
                <i class="
                fa
                fa-film"
                   aria-hidden="true"></i>
                <span>
                    Test 1
                </span>
            </li>
        </div>

        <div type="button"
             [routerLink]="['../test2']">
            <li class="nav-list-item">
                <i class="
                fa
                fa-film"
                   aria-hidden="true"></i>
                <span>
                    Test 2
                </span>
            </li>
        </div>

        <div type="button"
             [routerLink]="['../test3']">
            <li class="nav-list-item">
                <i class="
                fa
                fa-film"
                   aria-hidden="true"></i>
                <span>
                    Test 3
                </span>
            </li>
        </div>
    </ul>
</div>